venv/
.venv/
__pycache__/
*.py[cod]


.env
*.env
backend/.env

*.log

backend/data/*
!backend/data/.gitkeep

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/*.local

models/

.DS_Store
frontend/.DS_Store